---
name: Test

on:
  push:
    branches:
      - "main"
    paths:
      - "**_test.go"
  pull_request:
    branches:
      - "main"
    paths:
      - "**_test.go"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  skip-duplicate-actions:
    name: Skip Duplicate Actions
    runs-on: ubuntu-latest
    steps:
      - uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cancel_others: true
          concurrent_skipping: never

  test-ci:
    name: Test CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go latest
        uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Download dependencies
        run: go mod download
        working-directory: ci

      - name: Run tests
        run: go test -v ./...
        if: ${{ github.event_name == 'pull_request' || contains(github.event.head_commit.modified, 'ci/**/*_test.go') }}
        working-directory: ci

  test-iac:
    name: Test IaC
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go latest
        uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Download dependencies
        run: go mod download
        working-directory: iac/ils

      - name: Download dependencies
        run: go mod download
        working-directory: iac/lcs

      - name: Download dependencies
        run: go mod download
        working-directory: iac/lsh

      - name: Download dependencies
        run: go mod download
        working-directory: iac/plm

      - name: Run tests
        run: go test -v ./...
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          PULUMI_ORG_NAME: ${{ secrets.PULUMI_ORG_NAME }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_OWNER: ${{ github.repository_owner }}
        if: ${{ github.event_name == 'pull_request' || contains(github.event.head_commit.modified, 'iac/plm/**/*_test.go') || contains(github.event.head_commit.modified, 'iac/plm/util/**/*_test.go') }}
        working-directory: iac/plm
